/***************
 *
 * Main Content
 *
 ***************/
.organic-listing {
    border: none;
    margin-bottom: 10px;
}
.content{
    margin: 15px 372px 0px 15px;
    // overflow: auto;
    .link{
        background-color: rgba(0,0,0,0.6);
        /*padding: 35px 20px 45px;*/
        padding: 0px 0px 28px;
        border: 1px solid rgba(86, 103, 118, 0.5);
        border-radius: 4px;
        position: relative;
        margin-bottom: 8px;
        box-sizing: border-box;
        &::before {
          content: " ";
          // float: left;
          position: absolute;
          left:47px;
          min-height: calc(100% - 30px);
          width: 1px;
          background-color: rgba(123,180,217,0.2);
        }
    }
}
body >.content .link .rank,
.rank-spacer {
    width: 47px !important;
}

.link{
    .rank {
        padding: 0px 10px;
        margin: 0;
        // border-right: 1px solid rgba(86, 103, 118, 0.5);
        text-align: center;
        line-height: 86px;
    }

    .score {
        &.likes {
            color: #ff373f;
        }
        &.dislikes {
            color: #64a9fc;
        }
    }
    .midcol {
        margin: 17px 15px 0;
    }
    .thumbnail{
        position: relative;
        height: 70px;
        margin: 8px 15px 8px 0;
        img{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
        }
        &.self {
            height: 70px;
            background-image: url(%%iracing-snoo-post%%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70px 70px;
        }
    }

    p.title {
        margin: 25px 60px 0 0;
    }
    a.title {
        color: #e6e6e6;
        transition: color 0.2s ease;
    }
    a.title:visited {
        color: #ccc;
    }
    a.title:hover {
        color:$iracing-green-light;
        text-decoration: none;
    }
    a.title:active {
        color: #aaa;
    }
    .tagline{
        box-sizing: border-box;
        padding: 5px 0;
        .stickied-tagline,
        .search-result-meta .stickied-tagline{
            color: $iracing-green-light;
        }
    }
    .flat-list{
        box-sizing: border-box;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background: rgba(0,0,0,0.3);
        width: 100%;
        border-top: 1px solid rgba(86,103,118,0.5);
        padding: 6px 0 6px 55px;
        height:30px;
    }
    .usertext-body .md {
        background-color: transparent;
        border: none;
        border-radius: 0px;
    }

    &.promotedlink.promoted,
    &.promotedlink.external {
        background-color: rgba(0,0,0,0.15);
    }

    &.last-clicked {
        border:1px solid rgba(171,207,231,0.5);
        overflow: initial;
        .flat-list{
            border-color: rgba(171,207,231,0.5);
        }
    }
    &.thing.stickied {
        .midcol.likes{
            .hot-page &{
                margin-left:61px;
            }
            .single-page &{
                margin-left:15px;
            }
        }
        a.title {
            font-weight: normal;
            color: $iracing-green-light;
        }
    }
}

.flair,
.link .flair{
    &.flair-staff{
        background-color:#eb252c;
        color:white;
        border:1px solid #ec464b;
    }
    &.flair-moderator{
        background-color:#2e358c;
        color:white;
        border:1px solid #3f48b6;
    }
}


.linkflairlabel {
    padding: 1px 4px;
}

.link .title .linkflairlabel {
    position: absolute;
    top:0;
    right:0;
    margin-right: 0;
    padding: 4px 8px;
    text-overflow:initial;
    max-width: none;
}
$linkflair: (
    "media":(
        color: desaturate($iracing-blue, 20%),
        border: lighten(desaturate($iracing-blue, 20%),12%),
        textcolor: white
    ),
    "talk":(
        color: desaturate($iracing-green, 40%),
        border: lighten(desaturate($iracing-green, 40%),12%),
        textcolor: white
    ),
    "updates":(
        color: desaturate($iracing-red, 40%),
        border: lighten(desaturate($iracing-red, 40%),12%),
        textcolor: white
    ),
    "hardware":(
        color: #795548,
        border: #a27363,
        textcolor: white
    ),
    "sim":(
        color: $link-color,
        border: lighten($link-color, 12%),
        textcolor: white
    ),
    "misc":(
        color: #f5f5f5,
        border: #dddddd,
        textcolor: #555555
    )
);

@each $cats, $catsmap in $linkflair{
    .linkflair-#{$cats} .linkflairlabel,
    .flairsample-right .linkflair-#{$cats} .linkflairlabel,
    .flairsample-left .linkflair-#{$cats} .linkflairlabel{
        background-color: map-get($catsmap, 'color');
        color: map-get($catsmap, 'textcolor');
        border-color: map-get($catsmap, 'border');
    }
}

.entry {
    overflow: initial;
    margin-left: 183px;
    .buttons li {
        padding-right: 10px;
        &.reported-stamp {
            border: 1px solid $gold !important;
            padding: 0 4px;
            color: $gold;
            background-color: transparent;
            &:hover{
                background-color: $gold;
                color:black;
            }
        }
        a {
            color: #718897;
            font-weight: normal;
            padding: 0;
            transition: color 0.3s ease;
            &:hover {
                color: #aecee4;
                text-decoration: none;
            }
        }
    }
}
ul.report-reasons {
    width: 100%;
    background-color: $gold;
    border:none;
    padding: 5px;
    color: black;
    .link &{
        box-shadow: 0px 10px 40px 0px rgba(0,0,0,1);
        z-index: 1;
        left: 0;
        position: absolute;
        top: 100%;
    }
}


.pretty-button {
    // display: inline-block;
    // margin-left: 5px;
    // margin-bottom: 5px;
    // border: 1px solid #666;
    padding: 2px 6px;
    // background: #ffffff none repeat-x scroll center left;
    // color: #111;
    // font-size: 10px;
    // font-weight: normal;
    border-radius: 2px;
    // outline-style: none;

    &.negative,
    &.neutral,
    &.neutral.pressed,
    &.positive {
        background-image: none;
        background-color: transparent;
    }
    &.negative {
        border: 1px solid $iracing-red;
        color: $iracing-red;
        &:hover{
            color:white;
            background-color: $iracing-red;
        }
    }
    &.neutral[data-event-action~="remove"] {
        border: 1px solid $orange;
        color: $orange;
        &:hover{
            color:white;
            background-color: $orange;
        }
    }
    &.neutral[data-event-action~="ignorereports"],
    &.neutral[data-event-action~="unignorereports"] {
        border: 1px solid lighten($iracing-blue, 25%);
        color: lighten($iracing-blue, 25%);
        &:hover{
            color:white;
            background-color: lighten($iracing-blue, 25%);
        }}
    &.positive {
        border: 1px solid $iracing-green;
        color: $iracing-green;
        &:hover{
            color:white;
            background-color: $iracing-green;
        }
    }
}

.expando-button {
    // position: absolute;
    // height: 23px;
    // width: 23px;
    // margin: 0;
    // background: none;
    // top: 55px;
    // right: 10px;
    &.collapsed.selftext,
    &.collapsed.selftext:hover,
    &.collapsed.video,
    &.collapsed.video:hover,
    &.expanded.selftext,
    &.expanded.selftext:hover,
    &.expanded.video,
    &.expanded.video:hover{
        background-image: url(%%sprite-expando%%);
        // background-position: 0px -145px;
        // background-repeat: no-repeat;
    }
}
.expando {
    /*clear: left;*/
    // margin: 0 0 0 47px;
    margin: 0 0 0 -135px;
    padding: 5px 15px;
    border-top: 1px solid rgba(171,207,231,0.2);
}



