
/**************
 *
 * Header
 *
 **************/
#header{
    background: rgba(0,0,0,0.6);
    border-color: rgba(123,180,217,0.5);
}

#sr-header-area {
    background-color: rgba(0,0,0,0.3);
    text-transform: capitalize;
    border-bottom: 1px solid rgba(171,207,231,0.5);
}

.dropdown.srdrop .selected {
    color: rgba(255,255,255,0.8);
}

.drop-choices {
    border: 1px solid rgba(171,207,231,0.5);
    background-color: rgba(0,0,0,0.9);
}

.drop-choices a.choice {
    color:white;
    padding: 6px 10px;
}

.drop-choices a.choice:hover {
    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
    cursor:pointer;
}

.sr-bar a {
    color: rgba(255,255,255,0.8);
}

.sr-bar a:hover {
    cursor:pointer;
    text-decoration: none;
    color: rgb(0,204,51);
}

.sr-bar .separator {
    color: rgba(171,207,231,0.5);
}

#sr-header-area .selected a {
    color: rgb(0,204,51);
}

.flat-list li.selected a {
    color: rgb(0,204,51);
}

#sr-more-link {
    color: white;
    background-color: transparent;
    font-weight: normal;
}

#header-bottom-left {
    padding: 15px 0 0 15px;
}

#header-bottom-right {
    padding: 7px 10px 8px;
    border-top-left-radius: 2px;
    background-color: rgba(171,207,231,0.25);
    border: 1px solid rgba(171,207,231,0.5);
}


#header-img {
    margin-bottom: 40px;
    width: 50px;
    height: auto;
}

.pagename{
    font-weight:normal;
    font-variant:normal;
    font-family: Verdana;
    position: absolute;
    color:white;
}

.pagename a {
    background:transparent url(%%iracing-logo%%) 0 0 no-repeat;
    background-size: contain;
    color: white;
    font-size: 0;
    width: 194px;
    height: 37px;
    display: inline-block;
    vertical-align: middle;
}

#header .tabmenu {
    position: absolute;
    bottom: 0;
    left: 15px;
    margin-left: -3px;
}
.tabmenu,
.tabmenu.formtab{
    li {
        margin: 0px 3px;
        &.selected a{
            color: #fff;
            background-color: rgba(0,204,51,0.75);
            border:1px solid rgba(0,204,51,0.5);
            border-bottom:none;
            font-size: 14px;
            &:hover{
                color:#fff;
                background-color: rgba(0,153,38,0.75);
                border-color: rgba(0,143,36,0.5);
            }
        }
        a{
            display: inline-block;
            /*color: #d3e6f2;*/
            color: #fff;
            background-color: rgba(171,207,231,0.25);
            border: 1px solid rgba(171,207,231,0.5);
            font-weight: 400;
            padding: 5px 14px;
            font-size: 14px;
            border-radius: 2px 2px 0px 0px;
            text-transform: capitalize;
            border-bottom:none;
            &:hover{
                color: #d3e6f2;
                background-color: rgba(131,184,220,0.25);
                border-color: rgba(123,180,217,0.5);
                text-decoration: none;
            }
        }
    }
}


/* #header-bottom-right */
.beta-hint a{
    margin-left: -34px;
}
.user{
    color: #ccc;
    font-size: 12px;
}

.user a{
    color:#fff;
}
.user a:hover{
    text-decoration: underline;
}

.seperator{
    color: #aaa;
}

#header-bottom-right .flat-list a{
    font-weight:normal;
}

#header-bottom-right .flat-list a,
.logout a{
    font-size: 12px;
    color:white;
}