/* Linefield */
.roundfield,
.linefield {
   width: 100%;
   max-width: 540px;
   padding: 20px;
   font-size: 16px;
   background-color: $dark-bg;
   margin-bottom: 8px;
	border: 1px solid $blue-border;
	&.mobile {
	   width: 100%;
    	background-color: $dark-bg;
	   border: 1px solid $blue-border;
	}
	.title {
		display: inline-block;
	   color: white;
	   padding:0;
	   margin-bottom:10px;
	}
	.roundfield-content,
	.linefield-content {
    	padding: 0px;
	}
}

.formtabs-content {
   width: 100%;
   border-top: 1px solid $blue-border;
   padding-top: 15px;
}

.submit.content{
	margin:0;
}