/**************
 *
 * Base
 *
 **************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(%%IE-Blurred-BG%%);
  background-attachment: fixed;
  background-size: cover;
  min-width: 1030px;
  color: white;
}

a {
  text-decoration: none;
  color: #829bae;
}

a:hover {
  text-decoration: underline;
}

.usertext button {
  /*margin: 5px 5px 10px 0;*/
}

.btn,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 2px;
  text-decoration: none;
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
}

.btn:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: rgba(131, 184, 220, 0.25);
  border-color: rgba(123, 180, 217, 0.5);
}

button[name="save"] {
  background-color: rgba(0, 204, 51, 0.75);
  border: 1px solid rgba(0, 204, 51, 0.5);
}

button[name="save"]:hover {
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
}

.btn a {
  color: white;
}
.btn a:hover {
  text-decoration: none;
}

.infobar,
.reddit-infobar,
.content.submit .info-notice {
  background-color: rgba(45, 53, 137, 0.6);
  border-color: #55599c;
  color: white;
}

.content.submit .info-notice {
  max-width: 540px;
}

.reddit-infobar .md {
  color: white;
}

.content .spacer {
  margin-bottom: 15px;
}

.arrow,
.res-nightmode .arrow {
  height: 18px;
}

.arrow.upmod,
.res-nightmode .arrow.upmod {
  background: url(%%Votes%%);
  background-position: -16px 0px;
}

.arrow.up,
.res-nightmode .arrow.up,
.res-nightmode .arrow.up:hover {
  background: url(%%Votes%%);
  background-position: 0px 0px;
}

.arrow.down,
.res-nightmode .arrow.down,
.res-nightmode .arrow.down:hover {
  background: url(%%Votes%%);
  background-position: 0px -17px;
}

.arrow.downmod,
.res-nightmode .arrow.downmod {
  background: url(%%Votes%%);
  background-position: -16px -17px;
}

/**************
 *
 * Forms
 *
 **************/
textarea {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

textarea:focus {
  background-color: white;
}

#search input[type=text] {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 6px 25px 6px 10px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#search input[type=text]:focus {
  background: rgba(0, 0, 0, 0.7);
  border-color: #fff;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

/* Linefield & Roundfield */
.roundfield input[type=text],
.roundfield input[type=url],
.roundfield input[type=password],
.roundfield input[type=number] {
  font-size: 100%;
  width: 100%;
  max-width: 540px;
  padding: 5px;
  margin: 0;
  border: 1px solid rgba(171, 207, 231, 0.5);
  border-radius: 2px;
}

.roundfield,
.linefield {
  width: 100%;
  padding: 0px;
  font-size: 16px;
  background-color: transparent;
  margin-bottom: 8px;
  border: none;
}
.roundfield.mobile,
.linefield.mobile {
  width: 100%;
  background-color: transparent;
  border: none;
}
.roundfield > .title,
.linefield > .title {
  display: inline-block;
  color: white;
  padding: 0;
  margin-bottom: 10px;
}
.roundfield > .roundfield-content,
.roundfield > .linefield-content,
.linefield > .roundfield-content,
.linefield > .linefield-content {
  padding: 0px;
}

.formtabs-content {
  width: 100%;
  max-width: 540px;
  border: 1px solid rgba(171, 207, 231, 0.5);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  margin-bottom: 15px;
}

.submit.content {
  margin: 0;
}

/**************
 *
 * Header
 *
 **************/
#header {
  background: rgba(0, 0, 0, 0.6);
  border-color: rgba(123, 180, 217, 0.5);
}

#sr-header-area {
  background-color: rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
  border-bottom: 1px solid rgba(171, 207, 231, 0.5);
}

.dropdown.srdrop .selected {
  color: rgba(255, 255, 255, 0.8);
}

.drop-choices {
  border: 1px solid rgba(171, 207, 231, 0.5);
  background-color: rgba(0, 0, 0, 0.9);
}

.drop-choices a.choice {
  color: white;
  padding: 6px 10px;
}

.drop-choices a.choice:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  cursor: pointer;
}

.sr-bar a {
  color: rgba(255, 255, 255, 0.8);
}

.sr-bar a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #00cc33;
}

.sr-bar .separator {
  color: rgba(171, 207, 231, 0.5);
}

#sr-header-area .selected a {
  color: #00cc33;
}

.flat-list li.selected a {
  color: #00cc33;
}

#sr-more-link {
  color: white;
  background-color: transparent;
  font-weight: normal;
}

#header-bottom-left {
  padding: 15px 0 0 15px;
}

#header-bottom-right {
  padding: 7px 10px 8px;
  border-top-left-radius: 2px;
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
}

#header-img {
  margin-bottom: 40px;
  width: 50px;
  height: auto;
}

.pagename {
  font-weight: normal;
  font-variant: normal;
  font-family: Verdana;
  position: absolute;
  color: white;
}

.pagename a {
  background: transparent url(%%iracing-logo%%) 0 0 no-repeat;
  background-size: contain;
  color: white;
  font-size: 0;
  width: 194px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
}

#header .tabmenu {
  position: absolute;
  bottom: 0;
  left: 15px;
  margin-left: -3px;
}

.tabmenu li,
.tabmenu.formtab li {
  margin: 0px 3px;
}
.tabmenu li.selected a,
.tabmenu.formtab li.selected a {
  color: #fff;
  background-color: rgba(0, 204, 51, 0.75);
  border: 1px solid rgba(0, 204, 51, 0.5);
  border-bottom: none;
  font-size: 14px;
}
.tabmenu li.selected a:hover,
.tabmenu.formtab li.selected a:hover {
  color: #fff;
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
}
.tabmenu li a,
.tabmenu.formtab li a {
  display: inline-block;
  /*color: #d3e6f2;*/
  color: #fff;
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
  font-weight: 400;
  padding: 5px 14px;
  font-size: 14px;
  border-radius: 2px 2px 0px 0px;
  text-transform: capitalize;
  border-bottom: none;
}
.tabmenu li a:hover,
.tabmenu.formtab li a:hover {
  color: #d3e6f2;
  background-color: rgba(131, 184, 220, 0.25);
  border-color: rgba(123, 180, 217, 0.5);
  text-decoration: none;
}

/* #header-bottom-right */
.beta-hint a {
  margin-left: -34px;
}

.user {
  color: #ccc;
  font-size: 12px;
}

.user a {
  color: #fff;
}

.user a:hover {
  text-decoration: underline;
}

.seperator {
  color: #aaa;
}

#header-bottom-right .flat-list a {
  font-weight: normal;
}

#header-bottom-right .flat-list a,
.logout a {
  font-size: 12px;
  color: white;
}

.footer-parent {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 25px 0;
  border-top: 1px solid rgba(86, 103, 118, 0.5);
}

.footer {
  color: white;
  padding: 0px;
  margin: 0px auto 20px;
  max-width: 960px;
  border: none;
}
.footer .col {
  border-left: 1px solid rgba(171, 207, 231, 0.5);
}
.footer ul.flat-vert {
  text-align: center;
}
.footer .flat-vert.title {
  font-family: inherit;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.bottommenu {
  color: white;
}
.bottommenu a, .bottommenu .updated {
  color: #829bae;
}

#hsts_pixel {
  display: none;
}

.debuginfo {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ccc;
}
.debuginfo .content {
  margin: 0;
}

/***********
 *
 * Sidebar
 *
 ************/
.side {
  background-color: transparent;
  margin: 15px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(86, 103, 118, 0.5);
  padding: 315px 20px 20px;
  border-radius: 4px;
  color: white;
  position: relative;
  width: 342px;
}

.side:before {
  background-image: url(%%sidebar%%);
  background-color: transparent;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 340px;
  height: 213px;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sponsorshipbox {
  display: none;
}

.titlebox {
  /* Main Title */
}
.titlebox .word {
  display: none;
}
.titlebox .subscribers .number:after {
  content: " iRacers Subscribed";
}
.titlebox .users-online .number:after {
  content: " iRacers Online";
}
.titlebox .redditname {
  margin-bottom: 20px;
  position: absolute;
  top: 225px;
}
.titlebox .redditname a {
  color: white;
}

.users-online {
  position: absolute;
  top: 275px;
}

/* Moderator tools */
.titlebox form.toggle,
.leavemoderator {
  padding: 8px 0px;
  color: white;
  background: transparent;
}

.tagline a,
.search-result-meta a {
  color: #829bae;
}

.tagline .author.submitter,
.search-result-meta .author.submitter,
.tagline .author.moderator,
.search-result-meta .author.moderator {
  color: white;
  padding: 2px;
  border-radius: 2px;
}

.tagline .author.submitter,
.search-result-meta .author.submitter {
  background-color: rgba(123, 180, 217, 0.5);
}

.tagline .submitter,
.search-result-meta .submitter {
  color: rgba(123, 180, 217, 0.5);
}

.tagline .author.moderator,
.search-result-meta .author.moderator {
  background-color: rgba(0, 204, 51, 0.75);
}

.tagline .moderator,
.search-result-meta .moderator {
  color: rgba(0, 204, 51, 0.75);
}

.icon-menu a {
  background: none;
}

#searchexpando {
  margin: 0px 0 0 0;
  border-radius: 0 0 2px 2px;
}

/* Subscribe/UnSubcribe Button */
.titlebox .fancy-toggle-button {
  display: inline-block;
  margin-right: 20px;
  position: absolute;
  top: 235px;
  right: 0;
}

.titlebox .subscribers {
  position: absolute;
  top: 255px;
}

.titlebox h1 {
  font-family: inherit;
}

.fancy-toggle-button .add {
  background-image: none;
  background-color: rgba(0, 204, 51, 0.75);
  border: 1px solid rgba(0, 204, 51, 0.5);
}

.fancy-toggle-button .add:hover {
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
}

.fancy-toggle-button .remove {
  background-image: none;
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
}

.fancy-toggle-button .remove:hover {
  background-color: rgba(131, 184, 220, 0.25);
  border-color: rgba(123, 180, 217, 0.5);
}

.fancy-toggle-button .active {
  padding: 6px 10px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

/* Add link/post buttons */
.morelink {
  background-image: none;
  font-size: 100%;
  letter-spacing: 1px;
  line-height: 1em;
  height: auto;
  color: #fff;
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
  font-weight: 400;
  padding: 6px 0px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 2px;
  text-transform: capitalize;
}

.morelink:hover,
.mlh {
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
  background-image: none;
}

.morelink a {
  color: #fff;
}
.morelink a:hover {
  text-decoration: none;
}

.morelink .nub {
  display: none;
}

.linkinfo {
  padding: 0px;
  border: none;
  background: none;
  font-family: inherit;
  font-size: normal;
  border-radius: 0px;
}

.sidecontentbox {
  background-color: rgba(45, 52, 140, 0.3);
  padding: 8px 10px;
  border: 1px solid #718897;
  border-radius: 2px;
}
.sidecontentbox .title h1 {
  display: inline;
  text-transform: lowercase;
  margin: 0;
  color: white;
  font-size: 180%;
}
.sidecontentbox .collapse-button {
  line-height: 8px;
  background: #eee;
  color: #333;
  border: 1px solid #999;
  border-radius: 2px;
  margin: 3px 8px;
}
.sidecontentbox .content {
  margin: 0;
  border: none;
  padding: 10px 0 0;
}

.sidebox.create .spacer {
  background: transparent;
}

.single-page .side {
  padding-top: 405px;
}

.linkinfo {
  position: absolute;
  top: 310px;
  border-top: 1px solid rgba(171, 207, 231, 0.5);
  width: 300px;
  padding-top: 15px;
}

.gadget .reddit-entry {
  margin-left: 20px;
}

/***************
 *
 * Main Content
 *
 ***************/
.organic-listing {
  border: none;
  margin-bottom: 10px;
}

.content {
  margin: 15px 370px 0px 15px;
}
.content .link {
  background-color: rgba(0, 0, 0, 0.6);
  /*padding: 35px 20px 45px;*/
  padding: 0px 0px 28px;
  border: 1px solid rgba(86, 103, 118, 0.5);
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
  box-sizing: border-box;
}
.content .link::before {
  content: " ";
  position: absolute;
  left: 47px;
  min-height: calc(100% - 30px);
  width: 1px;
  background-color: rgba(123, 180, 217, 0.2);
}

body > .content .link .rank,
.rank-spacer {
  width: 47px !important;
}

.link .rank {
  padding: 0px 10px;
  margin: 0;
  text-align: center;
  line-height: 86px;
}
.link .score.likes {
  color: #ff373f;
}
.link .score.dislikes {
  color: #64a9fc;
}
.link .midcol {
  margin: 17px 15px 0;
}
.link .thumbnail {
  position: relative;
  height: 70px;
  margin: 8px 15px 8px 0;
}
.link .thumbnail img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.link .thumbnail.self {
  height: 70px;
  background-image: url(%%iracing-snoo-post%%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}
.link p.title {
  margin: 25px 60px 0 0;
}
.link a.title {
  color: #e6e6e6;
  transition: color 0.2s ease;
}
.link a.title:visited {
  color: #ccc;
}
.link a.title:hover {
  color: #01b42d;
  text-decoration: none;
}
.link a.title:active {
  color: #aaa;
}
.link .tagline {
  box-sizing: border-box;
  padding: 5px 0;
}
.link .tagline .stickied-tagline,
.link .tagline .search-result-meta .stickied-tagline {
  color: #01b42d;
}
.link .flat-list {
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  border-top: 1px solid rgba(86, 103, 118, 0.5);
  padding: 6px 0 6px 55px;
  height: 30px;
}
.link .usertext-body .md {
  background-color: transparent;
  border: none;
  border-radius: 0px;
}
.link.promotedlink.promoted, .link.promotedlink.external {
  background-color: rgba(0, 0, 0, 0.15);
}
.link.last-clicked {
  border: 1px solid rgba(171, 207, 231, 0.5);
  overflow: initial;
}
.link.last-clicked .flat-list {
  border-color: rgba(171, 207, 231, 0.5);
}
.link.thing.stickied .midcol.likes {
  margin-left: 61px;
}
.single-page .link.thing.stickied .midcol.likes {
  margin-left: 15px;
}
.link.thing.stickied a.title {
  font-weight: normal;
  color: #01b42d;
}

.flair.flair-staff,
.link .flair.flair-staff {
  background-color: #eb252c;
  color: white;
  border: 1px solid #ec464b;
}
.flair.flair-moderator,
.link .flair.flair-moderator {
  background-color: #2e358c;
  color: white;
  border: 1px solid #3f48b6;
}

.entry {
  overflow: initial;
  margin-left: 183px;
}
.entry .buttons li {
  padding-right: 10px;
}
.entry .buttons li.reported-stamp {
  border: 1px solid #ffdd33 !important;
  padding: 0 4px;
  color: #ffdd33;
  background-color: transparent;
}
.entry .buttons li.reported-stamp:hover {
  background-color: #ffdd33;
  color: black;
}
.entry .buttons li a {
  color: #718897;
  font-weight: normal;
  padding: 0;
  transition: color 0.3s ease;
}
.entry .buttons li a:hover {
  color: #aecee4;
  text-decoration: none;
}

ul.report-reasons {
  width: 100%;
  background-color: #ffdd33;
  border: none;
  padding: 5px;
  color: black;
}
.link ul.report-reasons {
  box-shadow: 0px 10px 40px 0px black;
  z-index: 1;
  left: 0;
  position: absolute;
  top: 100%;
}

.pretty-button {
  padding: 2px 6px;
  border-radius: 2px;
}
.pretty-button.negative, .pretty-button.neutral, .pretty-button.neutral.pressed, .pretty-button.positive {
  background-image: none;
  background-color: transparent;
}
.pretty-button.negative {
  border: 1px solid #f1202b;
  color: #f1202b;
}
.pretty-button.negative:hover {
  color: white;
  background-color: #f1202b;
}
.pretty-button.neutral[data-event-action~="remove"] {
  border: 1px solid #ff9800;
  color: #ff9800;
}
.pretty-button.neutral[data-event-action~="remove"]:hover {
  color: white;
  background-color: #ff9800;
}
.pretty-button.neutral[data-event-action~="ignorereports"], .pretty-button.neutral[data-event-action~="unignorereports"] {
  border: 1px solid #6d74ce;
  color: #6d74ce;
}
.pretty-button.neutral[data-event-action~="ignorereports"]:hover, .pretty-button.neutral[data-event-action~="unignorereports"]:hover {
  color: white;
  background-color: #6d74ce;
}
.pretty-button.positive {
  border: 1px solid #049e2d;
  color: #049e2d;
}
.pretty-button.positive:hover {
  color: white;
  background-color: #049e2d;
}

.expando-button.collapsed.selftext, .expando-button.collapsed.selftext:hover, .expando-button.collapsed.video, .expando-button.collapsed.video:hover, .expando-button.expanded.selftext, .expando-button.expanded.selftext:hover, .expando-button.expanded.video, .expando-button.expanded.video:hover {
  background-image: url(%%sprite-expando%%);
}

.expando {
  /*clear: left;*/
  margin: 0 0 0 -135px;
  padding: 5px 15px;
  border-top: 1px solid rgba(171, 207, 231, 0.2);
}

/* Post Content */
.md {
  color: white;
}

.md h4 a,
.md h5 a {
  text-align: center;
  display: block;
  color: #fff;
  font-weight: 400;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 2px;
  text-decoration: none;
}

.md h4 a {
  background-color: rgba(0, 204, 51, 0.75);
  border: 1px solid rgba(0, 204, 51, 0.5);
}

.md h5 a {
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
}

.md h4 a:hover {
  text-decoration: none;
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
}

.md h5 a:hover {
  text-decoration: none;
  background-color: rgba(131, 184, 220, 0.25);
  border-color: rgba(123, 180, 217, 0.5);
}

.md a {
  color: #829bae;
  text-decoration: none;
}

.md a:hover {
  text-decoration: underline;
}

.md blockquote,
.md del {
  color: #bbb;
}

.md blockquote {
  border-left: 2px solid #bbb;
}

.md code,
.md pre {
  border: 1px solid #7b7b7b;
  background-color: #5a5a5a;
  border-radius: 2px;
}

.md pre,
.md .-cells,
.md th,
.md td {
  padding: 5px 10px;
}

.md td,
.md th {
  border: 1px solid #5b6a78;
  text-align: left;
}

.md hr {
  background: rgba(171, 207, 231, 0.5);
  height: 1px;
  margin: 10px 0;
}

/******************
 *
 * Single Page
 *
 ******************/
.single-page .link::before {
  content: none;
}
.single-page .link .entry {
  margin-left: 0;
}
.single-page .link .flat-list {
  padding-left: 15px;
}
.single-page .expando {
  margin-left: 0;
}

/* Comment Area Title */
.panestack-title {
  margin: 15px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(86, 103, 118, 0.5);
  color: white;
}

.new-comment .md :not(pre) > code,
.link .md :not(pre) > code,
.usertext.border .md :not(pre) > code,
.new-comment .md pre,
.link .md pre,
.usertext.border .md pre {
  border: 1px solid #7b7b7b;
  background-color: #5a5a5a;
  border-radius: 2px;
}

.usertext thead tr:first-child,
.usertext .markhelp tr:first-child {
  border: 1px solid #fff !important;
  background-color: rgba(45, 53, 137, 0.6) !important;
}

.commentarea {
  padding: 10px;
}

.commentarea .menuarea {
  border: none;
  margin: 0px 0px 15px 0;
  padding: 0;
  color: gray;
}

/*.menuarea {
    border-bottom: 1px dotted gray;
    padding: 5px 10px;
    margin: 5px;
    overflow: hidden;
    font-size: larger;
}*/
.commentarea > .usertext {
  margin: 10px 0;
}

.new-comment .usertext-body {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.usertext.border .usertext-body {
  background-color: transparent;
  padding: 5px;
}

.comment {
  padding: 10px 5px 0 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(86, 103, 118, 0.5);
  margin: 0 0 8px 0;
  border-radius: 2px;
}
.comment .child {
  border-left: none;
}
.comment .child .comment {
  margin-bottom: 5px;
  background-color: transparent;
}

.comment .entry {
  margin-left: 0;
  overflow: hidden;
}

.comment.new-comment {
  border-left: 3px solid rgba(0, 204, 51, 0.75);
  padding-left: 10px;
}

.comment.spam > .child, .message.spam > .child {
  background-color: transparent;
}

.commentarea .comment-visits-box {
  color: white;
  margin: 15px 0;
  padding: 10px;
  max-width: none;
  display: inline-block;
  background-color: rgba(45, 53, 137, 0.6);
  border: solid 1px #4c5182;
}

.morecomments {
  margin-left: 5px;
}
.morecomments a {
  color: #049e2d;
}

.rounded {
  border-radius: 2px;
}

.thing.spam {
  background-color: rgba(235, 37, 44, 0.3);
}

/* Error */
#noresults {
  margin-right: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: rgba(241, 32, 43, 0.6);
  border: 1px solid #f1202b;
  border-radius: 2px;
}

.error {
  color: #f1202b;
}

.res .RES-keyNav-activeElement,
.res .RES-keyNav-activeElement .md-container,
.res .res-commentBoxes .comment .comment,
.res .res-commentBoxes .comment .comment .comment,
.res .res-commentBoxes .comment .comment .comment .comment,
.res .res-commentBoxes .comment .comment .comment .comment .comment,
.res .res-commentBoxes .comment .comment .comment .comment .comment .comment,
.res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
.res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
.res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res-nightmode .RES-keyNav-activeElement,
.res-nightmode .RES-keyNav-activeElement .md-container,
.res-nightmode .res-commentBoxes .comment .comment,
.res-nightmode .res-commentBoxes .comment .comment .comment,
.res-nightmode .res-commentBoxes .comment .comment .comment .comment,
.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment,
.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment,
.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res-nightmode .res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: transparent !important;
}
.res .res-commentBoxes.res-commentBoxes-rounded .comment,
.res-nightmode .res-commentBoxes.res-commentBoxes-rounded .comment {
  border-radius: 2px !important;
}
.res .res-commentBoxes .comment,
.res-nightmode .res-commentBoxes .comment {
  overflow: inherit;
  margin: 0 0 8px 0 !important;
  border-color: rgba(86, 103, 118, 0.5) !important;
  padding: 10px 5px 0 10px !important;
}
