/**************
 *
 * Base
 *
 **************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(%%IE-Blurred-BG%%);
  background-attachment: fixed;
  background-size: cover;
  min-width: 1030px;
  color: white;
}

a {
  text-decoration: none;
  color: #829bae;
}

a:hover {
  text-decoration: underline;
}

.usertext button {
  /*margin: 5px 5px 10px 0;*/
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 2px;
  text-decoration: none;
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: rgba(131, 184, 220, 0.25);
  border-color: rgba(123, 180, 217, 0.5);
}

button[name="save"] {
  background-color: rgba(0, 204, 51, 0.75);
  border: 1px solid rgba(0, 204, 51, 0.5);
}

button[name="save"]:hover {
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
}

.infobar,
.content.submit .info-notice {
  background-color: #2f348e;
  border-color: #55599c;
  color: white;
}

#searchexpando {
  margin: 0px 0 0 0;
  border-radius: 0 0 2px 2px;
}

/**************
 *
 * Forms
 *
 **************/
textarea {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

textarea:focus {
  background-color: white;
}

#search input[type=text] {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 6px 25px 6px 10px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#search input[type=text]:focus {
  border-color: #fff;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

/* Linefield & Roundfield */
.roundfield input[type=text],
.roundfield input[type=url],
.roundfield input[type=password],
.roundfield input[type=number] {
  font-size: 100%;
  width: 100%;
  max-width: 540px;
  padding: 5px;
  margin: 0;
  border: 1px solid rgba(171, 207, 231, 0.5);
  border-radius: 2px;
}

.roundfield,
.linefield {
  width: 100%;
  padding: 0px;
  font-size: 16px;
  background-color: transparent;
  margin-bottom: 8px;
  border: none;
}
.roundfield.mobile,
.linefield.mobile {
  width: 100%;
  background-color: transparent;
  border: none;
}
.roundfield > .title,
.linefield > .title {
  display: inline-block;
  color: white;
  padding: 0;
  margin-bottom: 10px;
}
.roundfield > .roundfield-content,
.roundfield > .linefield-content,
.linefield > .roundfield-content,
.linefield > .linefield-content {
  padding: 0px;
}

.formtabs-content {
  width: 100%;
  max-width: 540px;
  border: 1px solid rgba(171, 207, 231, 0.5);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  margin-bottom: 15px;
}

.submit.content {
  margin: 0;
}

/**************
 *
 * Header
 *
 **************/
#header {
  background: rgba(0, 0, 0, 0.6);
  border-color: rgba(123, 180, 217, 0.5);
}

#sr-header-area {
  background-color: rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
  border-bottom: 1px solid rgba(171, 207, 231, 0.5);
}

.dropdown.srdrop .selected {
  color: rgba(255, 255, 255, 0.8);
}

.drop-choices {
  border: 1px solid rgba(171, 207, 231, 0.5);
  background-color: rgba(0, 0, 0, 0.9);
}

.drop-choices a.choice {
  color: white;
  padding: 6px 10px;
}

.drop-choices a.choice:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  cursor: pointer;
}

.sr-bar a {
  color: rgba(255, 255, 255, 0.8);
}

.sr-bar a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #00cc33;
}

.sr-bar .separator {
  color: rgba(171, 207, 231, 0.5);
}

#sr-header-area .selected a {
  color: #00cc33;
}

.flat-list li.selected a {
  color: #00cc33;
}

#sr-more-link {
  color: white;
  background-color: transparent;
  font-weight: normal;
}

#header-bottom-left {
  padding: 15px 0 0 15px;
}

#header-bottom-right {
  padding: 7px 10px 8px;
  border-top-left-radius: 2px;
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
}

#header-img {
  margin-bottom: 40px;
  width: 50px;
  height: auto;
}

.pagename {
  font-weight: normal;
  font-variant: normal;
  font-family: Verdana;
  position: absolute;
  color: white;
}

.pagename a {
  background: transparent url(%%iracing-logo%%) 0 0 no-repeat;
  background-size: contain;
  color: white;
  font-size: 0;
  width: 194px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
}

#header .tabmenu {
  position: absolute;
  bottom: 0;
  left: 15px;
  margin-left: -3px;
}

.tabmenu li,
.tabmenu.formtab li {
  margin: 0px 3px;
}
.tabmenu li.selected a,
.tabmenu.formtab li.selected a {
  color: #fff;
  background-color: rgba(0, 204, 51, 0.75);
  border: 1px solid rgba(0, 204, 51, 0.5);
  border-bottom: none;
  font-size: 14px;
}
.tabmenu li.selected a:hover,
.tabmenu.formtab li.selected a:hover {
  color: #fff;
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
}
.tabmenu li a,
.tabmenu.formtab li a {
  display: inline-block;
  /*color: #d3e6f2;*/
  color: #fff;
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
  font-weight: 400;
  padding: 5px 14px;
  font-size: 14px;
  border-radius: 2px 2px 0px 0px;
  text-transform: capitalize;
  border-bottom: none;
}
.tabmenu li a:hover,
.tabmenu.formtab li a:hover {
  color: #d3e6f2;
  background-color: rgba(131, 184, 220, 0.25);
  border-color: rgba(123, 180, 217, 0.5);
}

/* #header-bottom-right */
.beta-hint a {
  margin-left: -34px;
}

.user {
  color: #ccc;
  font-size: 12px;
}

.user a {
  color: #fff;
}

.user a:hover {
  text-decoration: underline;
}

.seperator {
  color: #aaa;
}

#header-bottom-right .flat-list a {
  font-weight: normal;
}

#header-bottom-right .flat-list a,
.logout a {
  font-size: 12px;
  color: white;
}

/***********
 *
 * Sidebar
 *
 ************/
.side {
  background-color: transparent;
  margin: 15px 15px 0 15px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(86, 103, 118, 0.5);
  padding: 315px 20px 20px;
  border-radius: 4px;
  color: white;
  position: relative;
  width: 342px;
}

.side:before {
  background-image: url(%%sidebar%%);
  background-color: transparent;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 340px;
  height: 213px;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sponsorshipbox {
  display: none;
}

/* Main Title */
.titlebox .redditname {
  margin-bottom: 20px;
  position: absolute;
  top: 225px;
}

.titlebox .redditname a {
  color: white;
}

.users-online {
  position: absolute;
  top: 275px;
}

/* Moderator tools */
.titlebox form.toggle,
.leavemoderator {
  /*margin: 0;*/
  padding: 8px 0px;
  /*font-size: smaller;*/
  color: white;
  background: transparent;
  /*border-bottom: 1px solid #bbb;*/
}

.tagline a,
.search-result-meta a {
  color: #829bae;
}

.tagline .author.submitter,
.search-result-meta .author.submitter,
.tagline .author.moderator,
.search-result-meta .author.moderator {
  color: white;
  padding: 2px;
  border-radius: 2px;
}

.tagline .author.submitter,
.search-result-meta .author.submitter {
  background-color: rgba(123, 180, 217, 0.5);
}

.tagline .submitter,
.search-result-meta .submitter {
  color: rgba(123, 180, 217, 0.5);
}

.tagline .author.moderator,
.search-result-meta .author.moderator {
  background-color: rgba(0, 204, 51, 0.75);
}

.tagline .moderator,
.search-result-meta .moderator {
  color: rgba(0, 204, 51, 0.75);
}

.icon-menu a {
  background: none;
}

/* Subscribe/UnSubcribe Button */
.titlebox .fancy-toggle-button {
  display: inline-block;
  margin-right: 20px;
  position: absolute;
  top: 235px;
  right: 0;
}

.titlebox .subscribers {
  position: absolute;
  top: 255px;
}

.fancy-toggle-button .add {
  background-image: none;
  background-color: rgba(0, 204, 51, 0.75);
  border: 1px solid rgba(0, 204, 51, 0.5);
}

.fancy-toggle-button .add:hover {
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
}

.fancy-toggle-button .remove {
  background-image: none;
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
}

.fancy-toggle-button .remove:hover {
  background-color: rgba(131, 184, 220, 0.25);
  border-color: rgba(123, 180, 217, 0.5);
}

.fancy-toggle-button .active {
  padding: 6px 10px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

/* Add link/post buttons */
.morelink {
  background-image: none;
  font-size: 100%;
  letter-spacing: 1px;
  line-height: 1em;
  height: auto;
  color: #fff;
  /*    background-color: rgba(0,204,51,0.75);
      border:1px solid rgba(0,204,51,0.5);*/
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
  font-weight: 400;
  padding: 6px 0px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 2px;
  text-transform: capitalize;
}

.morelink:hover,
.mlh {
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
  background-image: none;
}

.morelink a {
  color: #fff;
}

.morelink .nub {
  display: none;
}

.linkinfo {
  padding: 0px;
  border: none;
  background: none;
  font-family: inherit;
  font-size: normal;
  border-radius: 0px;
}

/* Sidebar content styles */
.md {
  color: white;
}

.md h4 a,
.md h5 a {
  text-align: center;
  display: block;
  color: #fff;
  font-weight: 400;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 2px;
  text-decoration: none;
}

.md h4 a {
  background-color: rgba(0, 204, 51, 0.75);
  border: 1px solid rgba(0, 204, 51, 0.5);
}

.md h5 a {
  background-color: rgba(171, 207, 231, 0.25);
  border: 1px solid rgba(171, 207, 231, 0.5);
}

.md h4 a:hover {
  text-decoration: none;
  background-color: rgba(0, 153, 38, 0.75);
  border-color: rgba(0, 143, 36, 0.5);
}

.md h5 a:hover {
  text-decoration: none;
  background-color: rgba(131, 184, 220, 0.25);
  border-color: rgba(123, 180, 217, 0.5);
}

.md a {
  color: #829bae;
  text-decoration: none;
}

.md a:hover {
  text-decoration: underline;
}

.md blockquote,
.md del {
  color: #bbb;
}

.md blockquote {
  border-left: 2px solid #bbb;
}

.md code,
.md pre {
  border: 1px solid #7b7b7b;
  background-color: #5a5a5a;
  border-radius: 2px;
}

.md pre,
.md .-cells,
.md th,
.md td {
  padding: 5px 10px;
}

.md td,
.md th {
  border: 1px solid #5b6a78;
  text-align: left;
}

.md hr {
  background: #abcfe7;
}

/***************
 *
 * Main Content
 *
 ***************/
.organic-listing {
  border: none;
  margin-bottom: 10px;
}

.content {
  margin: 15px 370px 0px 15px;
}

.content .link {
  background-color: rgba(0, 0, 0, 0.6);
  /*padding: 35px 20px 45px;*/
  padding: 0px 0px 28px;
  border: 1px solid rgba(86, 103, 118, 0.5);
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
  box-sizing: border-box;
}
.content .link::before {
  content: " ";
  position: absolute;
  left: 47px;
  min-height: calc(100% - 30px);
  width: 1px;
  background-color: rgba(123, 180, 217, 0.2);
}

body > .content .link .rank,
.rank-spacer {
  width: 47px !important;
}

.link .rank {
  padding: 0px 10px;
  margin: 0;
  text-align: center;
  line-height: 86px;
}

.link .midcol {
  margin: 17px 15px 0;
}

.link .thumbnail {
  position: relative;
  height: 70px;
  margin: 8px 15px 8px 0;
}
.link .thumbnail img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.link .thumbnail.self {
  height: 70px;
  background-image: url(%%iracing-snoo-post%%);
  background-repeat: no-repeat;
  background-position: center;
}

.entry {
  overflow: initial;
  margin-left: 183px;
}

.link p.title {
  margin: 25px 60px 0 0;
}

.link a.title {
  color: #fff;
  transition: color 0.2s ease;
}

.link a.title:hover {
  color: #bbb;
  text-decoration: none;
}

.link .title:hover {
  color: #fff;
}

.link .title:visited {
  color: #fff;
}

.link .title:active {
  color: #fff;
}

.link .tagline {
  box-sizing: border-box;
  padding: 5px 0;
}

.expando-button {
  position: absolute;
  /*    height: 23px;
      width: 23px;*/
  margin: 0;
  background: none;
  top: 55px;
  right: 10px;
}

.expando {
  /*clear: left;*/
  margin: 0 0 0 -135px;
  padding: 5px 15px;
  border-top: 1px solid rgba(171, 207, 231, 0.2);
}

.link.promotedlink.promoted,
.link.promotedlink.external {
  background-color: rgba(0, 0, 0, 0.15);
}

.link.last-clicked {
  border: 1px solid rgba(171, 207, 231, 0.5);
  overflow: initial;
}

.link .flat-list {
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  border-top: 1px solid rgba(86, 103, 118, 0.5);
  padding: 6px 0 6px 55px;
}

.link.last-clicked .flat-list {
  border-color: rgba(171, 207, 231, 0.5);
}

.entry .buttons li {
  padding-right: 10px;
}

.entry .buttons li a {
  color: #718897;
  font-weight: normal;
  padding: 0;
  transition: color 0.3s ease;
}

.entry .buttons li a:hover {
  color: #aecee4;
  text-decoration: none;
}

/* Single Page */
.single-page .link::before {
  content: none;
}
.single-page .link .usertext-body .md {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.single-page .link .entry {
  margin-left: 0;
}
.single-page .link .flat-list {
  padding-left: 15px;
}
.single-page .expando {
  margin-left: 0;
}

/* Comment Area Title */
.panestack-title {
  margin: 15px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(86, 103, 118, 0.5);
  color: white;
}

.new-comment .md :not(pre) > code,
.link .md :not(pre) > code,
.usertext.border .md :not(pre) > code,
.new-comment .md pre,
.link .md pre,
.usertext.border .md pre {
  border: 1px solid #7b7b7b;
  background-color: #5a5a5a;
  border-radius: 2px;
}

.commentarea {
  padding: 10px;
}

.commentarea .menuarea {
  border: none;
  margin: 0px 0px 15px 0;
  padding: 0;
  color: gray;
}

/*.menuarea {
    border-bottom: 1px dotted gray;
    padding: 5px 10px;
    margin: 5px;
    overflow: hidden;
    font-size: larger;
}*/
.commentarea > .usertext {
  margin: 10px 0;
}

.new-comment .usertext-body {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.usertext.border .usertext-body {
  background-color: transparent;
  padding: 5px;
}

.comment {
  padding-left: 10px;
}

.comment .entry {
  margin-left: 0;
}

.comment.new-comment {
  border-left: 3px solid rgba(0, 204, 51, 0.75);
  padding-left: 10px;
}

.commentarea .comment-visits-box {
  color: white;
  margin: 15px 0;
  padding: 10px;
  max-width: none;
  display: inline-block;
  background-color: rgba(45, 53, 137, 0.6);
  border: solid 1px #4c5182;
}

.rounded {
  border-radius: 2px;
}

/* Error */
#noresults {
  margin-right: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: rgba(241, 32, 43, 0.6);
  border: 1px solid #f1202b;
  border-radius: 2px;
}

.error {
  color: #f1202b;
}
